<footer>

    <!-- Ici Nos informations -->

    <section class="py-5 bg-black">
        <div class="container">
            <div class="row text-center"> <!-- align 12 colonnes -->
                <div class="col-lg-3 col-sm-6">
                    <div>
                        <h4>Nous Rejoindre</h4>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </p>
                        <input type="email" name="email" class="" placeholder="Votre mail..." /><br/>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div>
                        <h4>Nous contacter</h4>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div>
                        <h4>Horaires d’houverture</h4>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div>
                        <h4>Pour mieux nous connaitre</h4>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Ici Mentions Légales -->

    <section class="bg-light text-center">
        <div class="container">
            <div class="row"> <!-- align 12 colonnes -->
                <div class="col-lg-12 col-sm-6">
                    <div>PCGU - CGV - Mentions légales- Politiques de confidentialités - contact - FAQ - Qui sommes -nous - Nos engagements </div>
                </div>

            </div>
        </div>
    </section>

</footer>